* {
    padding: 0;
    margin: 0;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.box {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}

.focus {
    position: relative;
    margin: 200px auto;
    width: 520px;
    height: 280px;
    /* border: 2px solid #000; */
    cursor: pointer;
    overflow: hidden;


}

.picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 800%;

}

.picture li {
    float: left;
}

.leftbtn {
    display: none;
    position: absolute;
    left: 0;
    top: 125px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #999;
    font-size: 30px;
    color: #fff;
    border-radius: 0 15px 15px 0;
    z-index: 999;
}

.rightbtn {
    display: none;
    position: absolute;
    left: 490px;
    top: 125px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #999;
    font-size: 30px;
    color: #fff;
    border-radius: 15px 0 0 15px;
    z-index: 999;
}

.circle {
    position: absolute;
    left: 160px;
    top: 240px;
    width: 300px;
    height: 30px;
    /* background-color: rgba(59, 53, 53, 0.5); */
}

.circle li {
    float: left;
    width: 10px;
    height: 10px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgba(88, 85, 85, 0.5);
}

.circle .current {
    background-color: rgb(233, 95, 15);
}